<%- include('partials/header') %>
<section class="content">
  <div class="container detail-content">
    <div class="Cover">
      <img src="<%= review.book_image %>" alt="" />
    </div>
    <div class="books-review">
      <div class="book-identity">
        <h2 class="title"><b><%= review.title %></b></h2>
        <p>ISBN: <%= review.isbn %></p>
        <p>Recommendation: <%= review.recommend %>/5</p>
      </div>
      <div class="reviews">
        <p><%= review.reviews %></p>
      </div>
    </div>
  </div>
  <div class="footer-details">
    <a href="/update/<%= review.id %>" class="btn update">Update</a>
    <form action="/delete/<%= review.id %>" method="post">
      <button type="submit" class="btn delete">Delete</button>
    </form>
  </div>
</section>
